.layoutContainer {
    max-width: 200px;
    height: 100vh;
}

.logo {
    line-height: 32px;
    color: white;
    font-size: 18px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}